<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Remotish - 404 error
  screenshotPath: /Remotish/images/404.png
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper system-container">
  <div class="error-page" >
           <div class="container">
              <div class="errore-row">
                <div class="erroreitle">
                     <h1 class="h1size" style="text-align: center;">ERROR 404</h1>
                     <p class="size-sub" style="text-align: center;"> Oh no, you found a hole in the system! </p>
                </div>
               

                <div class="erroreitle_body">
                  <div class="systemserc">
                    {% module "search_input" path="@hubspot/search_input" include_search_button=true %}
                  </div>
                  <p>
                    Sorry for that. the content you’re looking for doesn’t exist. Either it was removed, or you mistyped the link. If this link is not working please contact us or go back to the home.
                  </p>
                 
                </div>
                <div class="button-deaign">
                     <a href="/"> Go Back to Home </a>
                </div>
             </div>
          </div>
  </div>
</div>
{% endblock body %}
