<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Remotish - 500 error
  screenshotPath: ../images/500.jpg
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper system-container">
  <div class="error-page" >
           <div class="container">
              <div class="errore-row">
                <div class="erroreitle">
                     <h1 class="h1size" style="text-align: center;">ERROR 500</h1>
                     <p class="size-sub" style="text-align: center;"> Oh no, you found a hole in the system! </p>
                </div>
                <div class="erroreitle_body">
                  <div class="systemserc">
                    {% module "search_input" path="@hubspot/search_input" include_search_button=true %}
                  </div>
                  <p>
                   Sorry for that. The content you’re looking for is in an Internal Server Error. Please wait a couple minutes and refreash the page. If this link is not working please contact us.
                  </p>
                </div>
                <div class="button-deaign">
                     <a href="/"> Go Back to Home </a>
                </div>
             </div>
          </div>
  </div>
    <style>
.systemserc form input { outline: none; border: 1px solid #c3cbcd; height: 50px; padding: 0 18px; }
.systemserc form { background: transparent; border: none; padding: 0;     position: relative; }
.systemserc form button {     border-radius: 0 0 0 0; outline: none; vertical-align: middle; text-decoration: none; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgb(0 0 0 / 0%); position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: .5s; transition-duration: .4s; border: 2px solid #ed8074; box-sizing: border-box; display: inline-block; padding: 12px 15px; font-weight: bold; line-height: 18px; letter-spacing: .3px; color: #000; position: absolute; right: 0; height: 50px; }
 .systemserc .hs-search-field__bar  form  button svg{     height: 20px; }
    .erroreitle_body{     padding-top: 85px;   padding-bottom: 75px; }  
    
    
  </style>
  
</div>
{% endblock body %}
