<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: Remotish - membership registration
  screenshotPath: ../../images/template-previews/membership-registration.png
-->
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h4>Welcome!</h4><p>Set up your password to sign in and see the content you now have access to.</p>'
      %}
      <div class="form-container">
        {% member_register 'my_register'
          email_label='Email',
          password_confirm_label='Confirm Password',
          password_label='Password',
          submit_button_text='Save Password'
        %}
      </div>
      <div>
        {% module_block module 'membership_admin_content'
          label='Contact admin',
          path='@hubspot/rich_text'
        %}
          {% module_attribute 'html' %}
            <p>Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
          {% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
  </section>
</main>

{% require_css %}
<style>
    form, form.hs-form {
    background-image: url(https://www.remotish.agency/hubfs/pattern-final.png);
    background-position: center;
    background-size: 280px;
    border: 0px solid #d0d0d0;
    background-color: white;
  }
  
  form input[type='submit'], form .hs-button {
    vertical-align: middle;
    text-decoration: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .4s;
    border: 2px solid #ed8074;
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .3px;
    color: #000;
    background-color: transparent;
    border-radius: 0px;
    margin-top: 20px;
  }
  
  #hs_cos_wrapper_membership_admin_content_ > p {
    padding-top: 50px;
    padding-left: 20px;
  }
  
  form input[type='submit']:hover, form input[type='submit']:focus, form .hs-button:hover, form .hs-button:focus {
    background-color: #ed8073;
    color: white;
}
  
  .hs-form-field {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
</style>
{% end_require_css %}

{% endblock %}