<section class="keep_studies" id="{{ module.section_id }}">
     <div class="container">
        <div class="title-row">
           <div class="title-left">
             <div class="title-h2">
               <h2>
                 {{ module.title }}
               </h2>
               <span class="subtext2"> 
                 {{ module.sub_text }}
               </span>

             </div>

          </div>
          <div class="title-right">
             <div class="button-deaign">
               {% set href = module.button_link.url.href %}
               {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
               {% set href = "mailto:" + href %}
               {% endif %}
               {% set rel = [] %}
               {% if module.button_link.no_follow %}
               {% do rel.append("nofollow") %}
               {% endif %}
               {% if module.button_link.open_in_new_tab %}
               {% do rel.append("noopener") %}
               {% endif %}
               <a href="{{ href }}"
                  {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                  >
                    {{ module.button_text }}
               </a>
            </div>
          </div>
       </div>
    </div>   
  
   {% if module.tag_field == "" %}
      
         <div class="keep-studies-row">
         
          {% set rec_posts = blog_recent_posts(module.blog_field,module.display_no_of_post) %}
          {% for rec_post in rec_posts %}
            <a class="slick-kepcole" href="{{ rec_post.absolute_url }}" target="_blank">
             <div class="keep-study-column">
               <div class="keep-study-inner">
                  <div class="keep-study-image" >
                   
                   
                    <img loading="lazy" src="{{ rec_post.featured_image }}" alt="">
                 
                  </div>
                 <div class="keep-study-text">
                      <h3>
                         {{ rec_post.name|truncate(50) }}
                      </h3>
                  </div>
               </div>
           </div>
             </a> 
         
         {% endfor %}
        
       </div>
     
  
    {% else %}
  
       <div class="keep-studies-row">
         
          {% set rec_posts = blog_recent_topic_posts(module.blog_field, module.tag_field,module.display_no_of_post) %}
          {% for rec_post in rec_posts %}
            <a class="slick-kepcole" href="{{ rec_post.absolute_url }}" target="_blank">
             <div class="keep-study-column">
               <div class="keep-study-inner">
                  <div class="keep-study-image" >
                   
                    <img loading="lazy" src="{{ rec_post.featured_image }}"  alt="">

                  </div>
                 <div class="keep-study-text">
                      <h3>
                         {{ rec_post.name|truncate(50) }}
                      </h3>
                  </div>
               </div>
           </div>
             </a> 
         
         {% endfor %}
        
       </div>
  
    {% endif %}
  
   
</section>

{{ require_js("https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", "footer") }}
 
 {% require_js %}
    <script defer>  
      $(document).ready(function(){
          $('.keep-studies-row').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
             centerMode: true,
            
             variableWidth: true,
             dots: true,
             arrows: false
      
          });
        });

     
    </script>
  {% end_require_js %}


