<footer class="mainfooter">
   <div class="container">
      <div class="footer-title">
         <h2>
           {{ module.title }}
         </h2>
        
      </div>
     {% if module.enable_logo %}
     <div class="footer-social">
       <ul>
         {% if module.social_links.enable_youtube %}
         <li> <a rel="dns-prefetch" href="{{ module.social_links.youtube }}"> <img loading="lazy" src="https://www.remotish.agency/hubfs/Icons/Youtube.jpg" alt="Youtube Icon">  </a> </li>
         {% endif %}
         {% if module.social_links.enable_twitter %}
         <li> <a rel="dns-prefetch" href="{{ module.social_links.twitter }}"> <img loading="lazy" src="https://www.remotish.agency/hubfs/Icons/Twitter.jpg" alt="Twitter Icon">  </a> </li>
         {% endif %}
         {% if module.social_links.enable_instagram %}
         <li> <a rel="dns-prefetch" href="{{ module.social_links.instagram }}"> <img loading="lazy" src="https://www.remotish.agency/hubfs/Icons/Instagram.jpg" alt="Instagram Icon">  </a> </li>
         {% endif %}
         {% if module.social_links.enable_linkedin %}
         <li> <a rel="dns-prefetch" href="{{ module.social_links.linked_in }}"> <img loading="lazy" src="https://www.remotish.agency/hubfs/Icons/LinkedIn.jpg" alt="LinkedIn Icon">  </a> </li>
         {% endif %}
       </ul>
     </div>
     {% endif %}
     {% if module.enable_logo %}
     <div class="logos_footer_logo">
       {% for item in module.logo_group %}
        <div class="logos_footer_column">
          {% if item.logo_image.src %}
          {% set sizeAttrs = 'width="{{ item.logo_image.width }}" height="{{ item.logo_image.height }}"' %}
          {% if item.logo_image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.logo_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.logo_image.max_width }}px; max-height: {{ item.logo_image.max_height }}px"' %}
          {% endif %}
          {% set loadingAttr = item.logo_image.loading != 'lazy' ? 'loading="{{ item.logo_image.loading }}"' : '' %}
          <a rel="dns-prefetch" href="{{  item.link_field_desktop.url.href }}"><img loading="lazy" src="{{ item.logo_image.src }}" width="220" height="220" alt="{{ item.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></a>
          {% endif %}
       </div>
       {% endfor %}
     </div>
     {% endif %}
     
    
   </div>
  
  <div class="mobile-footer-logo" style="display:none;">
    {% for item in module.logo_group %}
      <div class="logos_footer_columnmobile">
          {% if item.logo_image.src %}
          {% set sizeAttrs = 'width="{{ item.logo_image.width }}" height="{{ item.logo_image.height }}"' %}
          {% if item.logo_image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.logo_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.logo_image.max_width }}px; max-height: {{ item.logo_image.max_height }}px"' %}
          {% endif %}
          {% set loadingAttr = item.logo_image.loading != 'disabled' ? 'loading="{{ item.logo_image.loading }}"' : '' %}
        <a rel="dns-prefetch" href="{{  item.link_field_desktop.url.href }}"><img loading="lazy" src="{{ item.logo_image.src }}" alt="{{ item.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></a>
          {% endif %}
       </div>
    {% endfor %}
  </div>
  
    <div class="logos_footer_row2section">
      <div class="container">
      <div class="logos_footer-row2">

        <div class="logos_r2left">
          <span class="f-copyright">©{{year}} {{module.copyright}}</span>
          <div class="addressContainer">
          {% for addressItem in module.address_information %}
          <span class="addressResponsive"> {{ addressItem.address }} </span>
          {% endfor %}
          </div>
        </div>
        <div class="privacy-policy">
          {% set href = module.link_field.url.href %}
          {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if module.link_field.no_follow %}
          {% do rel.append("nofollow") %}
          {% endif %}
          {% if module.link_field.open_in_new_tab %}
          {% do rel.append("noopener") %}
          {% endif %}
          <a rel="dns-prefetch" href="{{ href }}"
             {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
             {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
             >
            Privacy Policy
          </a>

        </div>   
      </div>
  </div>
						{% if module.caption_link %}
						<a href="{{module.caption_link}}">
						{% endif %}
      <div class="footer-caption">
       {{ module.caption }}
      </div>
								{% if module.caption_link %}
								</a>
						{% endif %}
  </div>
  
</footer>