<!--
  templateType: page
  isAvailableForNewContent: true
  label: Remotish Demo - Home
  screenshotPath: ../images/Thumbnails/Thumbnail Homepage.jpg
-->

{% extends "./layouts/baseHome.html" %}

{% block body %}
<main>
  {% dnd_area "dnd_area_main_banner" label='Main Content' %}
  
    {# Hero Section #}
      {% dnd_section
         padding={
        'top': 50,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
      %}
             {% dnd_module
                    path='../modules/hero', 
                    flexbox_positioning="TOP_CENTER"
                  %}
  
  
              {% end_dnd_module %}

      {% end_dnd_section %}
    {# End of Card Section#}
     
 
  
  
  {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "180",
                    tablet_horizontal_space = "100"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
  {# Testimonial  #}
  
  
   {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Testimonial', 
                    flexbox_positioning="TOP_CENTER"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  {# end Testimonial  #}
  
  
   {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "260" 
                     tablet_horizontal_space = "140"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
  {# case Stusdy #}
    
     {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
       
        full_width = true
      %}
             {% dnd_module
                    path='../modules/Case Studies', 
                    flexbox_positioning="TOP_CENTER"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  {# end case study #}
  
  
  
    {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "290" 
                    tablet_horizontal_space = "140"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
    
    {# About Rated #}
    
      {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
       
        full_width = true
      %}
             {% dnd_module
                    path='../modules/About', 
                    flexbox_positioning="TOP_CENTER"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
   
  
  {# End About Rated Section#}
  
  
  
  
    {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
    
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "265" 
                    tablet_horizontal_space = "180"
                     mobile_desktop_space = "60"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
  
  
  
  {# Highly Rated #}
    
      {% dnd_section
       padding={
        'top': 0,
        'bottom':0,
        'left' : 0,
        'right' : 0
    }
       
        full_width = true
      %}
             {% dnd_module
                    path='../modules/Highly Rated', 
                    flexbox_positioning="TOP_CENTER"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
   
  
  {# End Highly Rated Section#}

  
  
      {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "147" 
                     mobile_desktop_space = "60"
                   
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
  
  
  
  
  {# Logo Section #}
  {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
       
        full_width = true
      %}
             {% dnd_module
                    path='../modules/Logos Module', 
                    flexbox_positioning="TOP_CENTER"
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  {# End of Logo Section#}
  
  
  
 
      {% dnd_section
       padding={
        'top': 0,
        'bottom': 0,
        'left' : 0,
        'right' : 0
    }
     
      %}
             {% dnd_module
                    path='../modules/Space Module', 
                    flexbox_positioning="TOP_CENTER"
                    desktop_horizontal_space = "282" 
   

                  %}
            {% end_dnd_module %}

      {% end_dnd_section %}
  
  
  
  
  
{% end_dnd_area %}
</main>

      
{% endblock body %}
